.html {
    &__meet {
        margin: 2%;
        div{
            display: none;
    }
    }
    &__hide {
        display: none;
    }
    &__label {
        border: none;
        padding: 0;
        color: aqua;
        cursor: pointer;
        display: inline-block;
        &:hover {
            transition: all 0.5s;
            color: yellow;
        }
    }
    &__hide:checked + &__label + div {
        display: block; 
        background: #efefef;
        box-shadow: inset 3px 3px 10px #7d8e8f;
        padding: 10px; 
    }
}