.sidenav {
    top: 0;
    height: 50px;
    width: 100%;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */   
    background-color: rgba(35, 185, 11, 0.8); 
    &__menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__links {
        display: block;
        padding: 12px 0 12px 170px;
        margin-bottom: 10px;
        margin-right: 200px; 
        text-align: center;       
    }
    &__main {   
        color: saddlebrown;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            color: orange;
        }
    }
    
}